.component {
  z-index: 1;
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  padding: 0.62rem;
  height: 4.8rem;
}

.component h1 {
  font-size: 1.38rem;
  color: rgba(0, 0, 0, 0.62);
  margin: auto;
}

.component span {
  color: rgba(0, 0, 0, 0.62);
}

.component div {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-self: center;
  padding: 0.62rem;
  border-radius: 0.5rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.component div > * + * {
  margin-left: 0.38rem;
}
